*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* ### Primary */
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    /* ### Neutral */
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

body {
    margin: 0;
    background-color: var(--LightGray);
    font-family: 'Karla', sans-serif;
}

.container {
    max-width: 50%;
    margin: 10rem auto;
    display: grid;
    background-color: var(--GrayishBlue);
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.box-1,
.box-2,
.box-3 {
    padding: 1rem 1rem 1rem 2rem;
}

.box-1 {
    background-color: #fff;
    grid-column: span 2;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 11px 3px #00000024;
}

.box-1>h1 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.box-1>h3 {
    color: hsl(71, 73%, 54%);
}

.box-1>p {
    color: hsl(218, 22%, 67%);
    width: 90%;
}

.box-2 {
    background-color: hsl(179, 60%, 43%);
    color: hsl(179, 62%, 100%);
    border-radius: 0 0 0 10px;
    box-shadow: -6px 8px 11px #00000024;
}

.box-2>h3 {
    color: #fff;
}

span {
    font-size: 30px;
    color: hsl(179, 62%, 100%);
}

.box-2 .span-p {
    color: rgba(0, 0, 0, 0.3);
}

.box-2>button {
    width: 85%;
    height: 45px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    outline: none;
    color: hsl(204, 43%, 100%);
    border-radius: 10px;
}

button:hover {
    background-color: hsl(71, 60%, 41%);
}

button:focus {
    background-color: hsl(71, 65%, 41%);
}

.box-3 {
    background-color: hsl(179, 70%, 43%);
    color: hsl(204, 43%, 100%);
    border-radius: 0 0 10px 0;
    box-shadow: 5px 6px 13px 0px #0000003b;
}

.box-3 :nth-child(even) {
    width: 65%;
    color: rgba(255, 255, 255, 0.555);
}

@media (max-width:375px) {
    .container {
margin:5rem auto; 
        max-width: 90%;
        grid-template-columns: 1fr;
    }
    .box-1 {
        grid-column: auto;
    }
    .box-1 p {
        width: fit-content;
    }
    .box-1 h1 {
        font-weight: bold;
        font-size: 20px;
    }
    .box-2 {
        border-radius: 0;
    }
    .box-3 {
        border-radius: 0 0 10px 10px;
    }
}


}
